In [1]:
import pandas as pd

# Part I

In [2]:
# Prepare data
data = pd.read_csv('input.txt', sep=';')

data = data['rules'].str.split(' contain ', expand=True)
data.columns = ['container', 'content']

data['content'] = data['content'].str.replace(r'[0-9]', '')
data['content'] = data['content'].str.replace('bags','bag')
data['content'] = data['content'].str.replace('bag','bags')

data = data[['container']].join(data['content'].str.split(',', expand = True))

for c in [0,1,2,3]:
    data[c] = data[c].str.replace('.', '')
    data[c] = data[c].str.lstrip()

data.head()

,container,0,1,2,3
0,muted tomato bags,bright brown bags,dotted gold bags,faded gray bags,posh yellow bags
1,posh brown bags,dark lime bags,mirrored crimson bags,striped chartreuse bags,None
2,dotted violet bags,striped white bags,None,None,None
3,mirrored black bags,clear yellow bags,None,None,None
4,light aqua bags,clear silver bags,shiny coral bags,muted tomato bags,drab turquoise bags

In [3]:
# Function for finding containers of a list of bags
def list_containers(bag_list):
    data['contains_my_bag'] = (data[0].isin(bag_list)) | (data[1].isin(bag_list)) | (data[2].isin(bag_list)) | (data[3].isin(bag_list))
    l_containers = data[data['contains_my_bag']]['container'].values.tolist()
    
    return l_containers

In [4]:
# Retrieve all containers that can contain my bag
my_list = ['shiny gold bags']
continuer = True
all_containers = []

while continuer:
    my_list = list_containers(my_list)
    
    if len(my_list)>0:
        all_containers += my_list
    else:
        continuer = False

In [5]:
# Remove duplicates and count unique containers
unique_containers = list(set(all_containers))
len(unique_containers)

289

# Part II

In [6]:
data = pd.read_csv('input.txt', sep=';')

data = data['rules'].str.split(' contain ', expand=True)
data.columns = ['container', 'content']
data.head()

             container                                            content
0    muted tomato bags  1 bright brown bag, 1 dotted gold bag, 2 faded...
1      posh brown bags  1 dark lime bag, 5 mirrored crimson bags, 1 st...
2   dotted violet bags                              4 striped white bags.
3  mirrored black bags                                1 clear yellow bag.
4      light aqua bags  3 clear silver bags, 2 shiny coral bags, 2 mut...

In [7]:
data[data['container']=='shiny gold bags']

           container                                            content
579  shiny gold bags  1 shiny coral bag, 5 posh white bags, 3 wavy c...

In [30]:
def retrieve_bags(x): 
    l_bags = [bag for bag in x.replace(r'[0-9]','').split(', ')]
    return l_bags

In [44]:
data['bags'] = data['content'].str.replace(r'[0-9]', '')
data['bags'] = data['bags'].str.replace('bags','bag')
data['bags'] = data['bags'].str.replace('bag','bags')
data['bags'] = data['bags'].str.split(',')

In [46]:
data['content'].str.replace(r'^[0-9]', '')

0       bright brown bag, 1 dotted gold bag, 2 faded ...
1       dark lime bag, 5 mirrored crimson bags, 1 str...
2                                    striped white bags.
3                                      clear yellow bag.
4       clear silver bags, 2 shiny coral bags, 2 mute...
                             ...
589                                    dotted aqua bags.
590                                light turquoise bags.
591     muted orange bags, 4 shiny black bags, 1 shin...
592                 plaid bronze bag, 2 shiny gold bags.
593                                   dotted black bags.
Name: content, Length: 594, dtype: object