In [1]:
import pandas as pd
import numpy as np

# Part I

In [34]:
# Import data
data=pd.read_csv('input.csv')
data.head()

                         psw
0           5-9 g: ggccggmgn
1  11-16 l: llllqllllllllflq
2           3-6 q: qvqqqpzqd
3        6-11 f: ffffpcffffp
4          7-8 l: lllqlwtqll

In [35]:
# Create columns
data = data['psw'].str.split(r'[-: ]', expand=True).drop(columns=[3])
data.columns = ['policy_min', 'policy_max', 'policy_char', 'password']

# Convert min & max to integer
data['policy_min'] = data['policy_min'].astype('int')
data['policy_max'] = data['policy_max'].astype('int')

data.head()

   policy_min  policy_max policy_char          password
0           5           9           g         ggccggmgn
1          11          16           l  llllqllllllllflq
2           3           6           q         qvqqqpzqd
3           6          11           f       ffffpcffffp
4           7           8           l        lllqlwtqll

In [36]:
# Count occurence of policy_char in password
data['count'] = (data['policy_char']+data['password']).apply(
    lambda x: x[1:].count(x[0])
)

# Check if occurence in accepted range
data['check'] = (data['count']>=data['policy_min']) & (data['count']<=data['policy_max'])

In [38]:
# Count number of valid passwords
data['check'].sum()

458

# Part II

In [39]:
data.head()

   policy_min  policy_max policy_char          password  count  check
0           5           9           g         ggccggmgn      5   True
1          11          16           l  llllqllllllllflq     13   True
2           3           6           q         qvqqqpzqd      5   True
3           6          11           f       ffffpcffffp      8   True
4           7           8           l        lllqlwtqll      6  False

In [96]:
data['just_pass'] = data['password'].str.ljust(20)
data['just_min'] = data['policy_min'].apply(lambda x: str(x).zfill(2))
data['just_max'] = data['policy_max'].apply(lambda x: str(x).zfill(2))

data['min_char'] = (data['just_min'] + data['just_pass']).apply(lambda x: x[1:][int(x[:2])])
data['max_char'] = (data['just_max'] + data['just_pass']).apply(lambda x: x[1:][int(x[:2])])

data['check_2'] = (data['min_char']==data['policy_char']) ^ (data['max_char']==data['policy_char'])

In [98]:
data['check_2'].sum()

342