# Part I

In [ ]:
# Define passport fields
passport_fields = ['byr', 'iyr', 'eyr', 'hgt', 'hcl', 'ecl', 'pid', 'cid']
mandatory_fields = ['byr', 'iyr', 'eyr', 'hgt', 'hcl', 'ecl', 'pid']

In [2]:
# import data
with open('inputs.txt', 'r') as f:
    data = f.read()

In [3]:
# Separate passports
l_passports = data.split('\n\n')

In [4]:
# Count valid passports
l_valid = l_passports.copy()

for field in mandatory_fields:
    l_valid = [x for x in l_valid if field in x]

print(len(l_valid))

206

# Part II

In [6]:
l_dict = []

for elt in l_valid:
    
    l_elt = elt.replace('\n', ' ').replace(' ',':').split(':')
    keys = l_elt[::2]
    values = l_elt[1::2]
    dict_ = {}
    
    for i in range(len(keys)):
        dict_[keys[i]] = values[i]
        
    l_dict +=[dict_]

In [7]:
import pandas as pd
df_valid = pd.DataFrame(l_dict)
df_valid.head()

       ecl   eyr      hcl         pid   iyr  cid   byr    hgt
0  #eef340  2023  #c0946f   244684338  2020   57  1969  152cm
1      gry  2038  #fffffd   303807545  2011  213  1951  171cm
2      hzl  2025  #c0946f   517067213  2018  NaN  1933  173cm
3      hzl  1968   64cb63  5253256652  1989  NaN  2009  152cm
4      blu  2020  #888785   862607211  2013  NaN  1990  174cm

In [8]:
# Convert to integer
df_valid['byr'] = df_valid['byr'].astype('int')
df_valid['iyr'] = df_valid['iyr'].astype('int')
df_valid['eyr'] = df_valid['eyr'].astype('int')

In [9]:
# height units and values
df_valid['hgt_value'] = pd.to_numeric(df_valid['hgt'].apply(lambda x: x[:-2]), 'coerce')
df_valid['hgt_unit'] = df_valid['hgt'].apply(lambda x: x[-2:])

df_valid['valid_cm'] = (df_valid['hgt_unit']=='cm') & (df_valid['hgt_value']>=150) & (df_valid['hgt_value']<=193)
df_valid['valid_in'] = (df_valid['hgt_unit']=='in') & (df_valid['hgt_value']>=59) & (df_valid['hgt_value']<=76)
df_valid['valid_height'] = df_valid['valid_cm'] | df_valid['valid_in']

In [10]:
import re

df_valid2 = df_valid[
    (df_valid['byr']>=1920) & (df_valid['byr']<=2002) &
    (df_valid['iyr']>=2010) & (df_valid['iyr']<=2020) &
    (df_valid['eyr']>=2020) & (df_valid['eyr']<=2030) &
    (df_valid['valid_height']) &
    (df_valid['hcl'].apply(lambda x : re.match(r'^#[a-f0-9]{6}$',x)is not None)) &
    (df_valid['ecl'].isin(['amb', 'blu', 'brn', 'gry', 'grn', 'hzl', 'oth'])) & 
    (df_valid['pid'].apply(lambda x : re.match(r'^[0-9]{9}$', x) is not None))
]

df_valid2.shape

(123, 13)