In [1]:
import pandas as pd
import numpy as np

# Part I

In [2]:
# Import data
data = pd.read_csv('input.csv')
data.head()

                            puzzle
0  ..#..#......###.#...#......#..#
1  ...#.....#...#...#..........#..
2  ....#.#...............#.#.#....
3  .........#.......##............
4  #.#....#.#####.##.#........#..#

In [3]:
# Shift characters
data['shift'] = (3*data.index.values)%31
data['couple'] = data['puzzle']+'/'+data['shift'].apply(str)

In [4]:
# Retrieve element in position
def search_elt(string):
    text = string.split('/')[0]
    position = int(string.split('/')[1])
    elt = text[position]
    
    tree = (elt=='#')
    
    return tree

data['tree'] = data['couple'].apply(search_elt)

In [5]:
# Number of trees encounted
data['tree'].sum()

292

# Part II

In [6]:
def count_tree(data, slope):
    
    # Select data
    df_=data[['puzzle']].copy().loc[data.index.values[::slope[1]]]
    df_.index = range(len(df_))
    
    # Shift
    df_['shift'] = (slope[0]*df_.index.values)%31
    df_['couple'] = df_['puzzle']+'/'+df_['shift'].apply(str)
    
    # Count trees
    df_['tree'] = df_['couple'].apply(search_elt)
    c = df_['tree'].sum()
    
    return c

In [7]:
# Count trees for each slope and multiply
list_slopes = [(1,1), (3,1), (5,1), (7,1), (1,2)]
l_trees = []
mlt = 1

for slope in list_slopes :
    c = count_tree(data, slope)
    l_trees += [c]
    mlt *= c
    
print(l_trees)
print(mlt)

[81, 292, 89, 101, 44]
9354744432