In [1]:
import pandas as pd

# Part I

In [2]:
# Load data
data = pd.read_csv('input.txt')
data.head()

         code
0  BBFFBFBRLL
1  FFFFBFBRLR
2  BFFBBFBRLR
3  BFBBBFBLLL
4  FFBBFBBLRR

In [3]:
# Row Calculation fonction
def calc_row(code):
    row_number = 0
    
    for i in range(7):
        char = code[i]
        bit = 1 if char=='B' else 0
        row_number += (bit* 2**(6-i))
        
    return row_number

In [4]:
# columns Calculation fonction
def calc_col(code):
    col_number = 0
    
    for i in range(3):
        char = code[-3:][i]
        bit = 1 if char=='R' else 0
        col_number += (bit* 2**(2-i))
        
    return col_number

In [5]:
# Id Calculation fonction
def calc_id(code):
    row=calc_row(code)
    col=calc_col(code)
    id_seat=8*row+col
    
    return id_seat

In [6]:
# Max id seat in the dataset
data['ID'] = data['code'].apply(calc_id)
data['ID'].max()

996

# Part II

In [7]:
# Find empty seat
data.sort_values(by='ID', inplace=True)
data.index = range(len(data))
data['diff']=data['ID'].diff()

In [8]:
# Empty seat number
ind_jump = data[data['diff']>1].index.values[0]
data.iloc[ind_jump-1: ind_jump+1]['ID'].mean()

671.0