In [1]:
import pandas as pd
import numpy as np

# Part I

In [2]:
# Load data
data = pd.read_csv('input.csv' )
data.head()

   expense
0     1962
1     1577
2     1750
3     1836
4     1762

In [3]:
# Create a dataset summing expenses
df_ = pd.DataFrame(index=data['expense'].values, columns=data['expense'].values)

for c in df_.columns :
    df_[c] = (c+df_.index.values)==2020
    
# Find sum of expenses equal to 2020
df_['sum']=df_.sum(axis=1)
l_ind = df_[df_['sum']>0].index.tolist()

# Multiplication
l_ind[0]*l_ind[1]

713184

# Part II

In [7]:
df_ = pd.DataFrame(index=data['expense'].values, columns=data['expense'].values)
for c in df_.columns :
    df_[c] = 2020-(c+df_.index.values)

In [26]:
s_ = df_.values.flatten()
l_=[x for x in s_ if x in data['expense'].values]
l_.sort()
l_[0]*l_[2]*l_[4]

261244452